@font-face {
  font-family: 'Manjari';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(http://fonts.gstatic.com/s/manjari/v12/k3kSo8UPMOBO2w1UdbrYNGHEEaM.woff2) format('woff2');
  unicode-range: U+0D00-0D7F;
}
/* malayalam */
@font-face {
  font-family: 'Manjari';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(http://fonts.gstatic.com/s/manjari/v12/k3kQo8UPMOBO2w1UfcHoLnnA.woff2) format('woff2');
  unicode-range: U+0D00-0D7F  ;
}

body {
  font-family: 'Manjari', sans-serif;
}


.button.permalink {
  position: relative;
}

.button.permalink .success {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.button.permalink .success.active {
  display: block;
}

.button.permalink .default.inactive {
  opacity: 0;
}

@media only screen and (max-width : 768px) {
  #main-logo-image.navbar-brand {
    border: none !important;
  }
  #search-form {
    width: 50% !important;
  }
}

#main-logo-image {
  border-right: 1px solid #dee2e6; 
}

body.item.private #content {
  background-color: var(--bs-warning-bg-subtle) !important
}